.star_rating{
    user-select: none;
    color: white;
    background-color: white;
    text-align: center;
}

.star{
    font-size: 3rem;
    color: #ff9800;
    background-color: unset;
    border: none;
}

.star:hover{
    cursor: pointer;
} 
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #000000;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
